body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f2f2f2;
}

#productos button {
  margin-top: 0.5rem;
}

.card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}
